:root {
  --color-header: #000b0a;
  --color-background: #ffffff;
  --color-btn: #2ec4b6;
  --color-black: #000000;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans" sans-serif;
  background: #f7fdfc;
  font-size: 1.4rem;
  margin: 2rem;
  color: var(--color-black);
}
.header__logo {
  margin-bottom: 0.5rem;
}

.header-primary {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-header);
  letter-spacing: -0.800000011920929px;
  line-height: 2.94rem;
  margin-bottom: 0.7rem;
}

.header__text--1,
.header__text--2 {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 300;
  padding-right: 2.5rem;
  margin-bottom: 2.8rem;
}
.header__text--2 {
  display: none;
}

.header .container {
  display: grid;
  justify-content: flex-end;
  align-content: center;
  gap: 1.5rem;
}

.form {
  background: var(--color-background);
  padding: 2rem;
  border-radius: 10px;
}

.form,
.btn {
  box-shadow: 0rem 0.4rem 5rem 0rem #0408131a;
}
.form__label {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  letter-spacing: 0.10000000149011612px;
  padding: 0.8rem 0;
}

::placeholder {
  padding-left: 1rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.20000000298023224px;
}

.form__input,
.form__date,
.form__select {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  transition: all 0.3s;
}

.form__input:focus,
.form__date:focus,
.form__select:focus {
  outline: none;
  border: 2px solid var(--color-btn);
  box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1);
}
.form__input:focus {
  padding: 1rem 0 1rem 2rem;
}
.password-icon {
  position: absolute;
  right: 4.3rem;
  top: 77.8rem;
}

@media screen and (min-width: 342px) {
  .password-icon {
    top: 75.5rem;
  }
}
@media screen and (min-width: 618px) {
  .password-icon {
    top: 73rem;
  }
}
.form__select {
  padding-left: 1rem;
  font-weight: 300;
  letter-spacing: 0.20000000298023224px;
}
.form__option[disabled][selected] {
  display: none;
}

.form__date::-webkit-datetime-edit {
  color: var(--color-background);
}

.form__date:focus::-webkit-datetime-edit {
  color: var(--color-black);
}

.form__terms {
  margin: 2rem 0 0 2.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.form__terms a {
  color: var(--color-btn);
}

.btn {
  border: none;
  background-color: var(--color-btn);
  display: block;
  padding: 1.5rem 5rem;
  color: var(--color-background);
  width: 100%;
  margin: 2rem 0;
  border-radius: 5px;
  transition: all 0.2s;
}

.btn:active,
.btn:hover {
  cursor: pointer;
  outline: none;
}

.btn:active {
  cursor: pointer;
  transform: translateY(-3px);
}

.grid {
  display: grid;
}

@media screen and (min-width: 765px) {
  .grid--1X2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .header,
  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    padding: 13rem;
  }
  .form-section {
    margin-top: 10rem;
  }
  .form-section {
    width: 43rem;
  }
  .form-control {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .form-control .form__date,
  .form-control .form__select {
    width: 17rem;
  }
  .form__terms {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0px;
    margin: -3rem;
    text-align: center;
  }
  .header__text--1 {
    display: none;
  }
  .header__text--2 {
    display: block;
  }
}
@media screen and (min-width: 763px) {
  .password-icon {
    top: 46rem;
    left: 80rem;
  }
  @media screen and (min-width: 800px) {
    .password-icon {
      display: none;
    }
  }
  @media screen and (min-width: 1020px) {
    .password-icon {
      left: 90rem;
    }
  }
  @media screen and (min-width: 1438px) {
    .password-icon {
      left: 110rem;
    }
  }
  @media screen and (min-width: 1460px) {
    .password-icon {
      display: none;
    }
  }
}
